/*
-----------------------------------------------
Layout 1010: Print Styles
----------------------------------------------- */

/* linearisierte Darstellung */

div#container, div#container_inner, div#container_innermost {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
div#header, div#header_inner, div#header_innermost, div#emotionheader_wrapper {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
}
div#wrapper, div#wrapper_inner, div#wrapper_innermost {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
}
div#content, div#content_wrapper {
	float: none;
	width: 100%;
	height: auto !important;
	min-height: 0;
	margin: 0;
	padding: 0;
}
div#sidebar, div#sidebar_content, div#sidebar_content_inner, div#sidebar_content_innermost, div#sidebar_content_wrapper {
	float: none;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.gutter {
	float: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* Ausblendung des Key Visuals */

div#emotion-header img#emotion-header-img {
	display: none;
}
div#overlay_top, div#overlay_bottom, div#overlay_left, div#overlay_right {
	display: none;	
}

/* Logo/Company Name */

div#emotion-header strong#emotion-header-title {
	position: static;
	display: block;
	font-size: 160%;
	margin-bottom: 1em;
}

/* Ausblenden der Navigation */

div#navigation {
	display: none;
}

/* Footer ausblenden + Copyright-Zeile einblenden */

div#footer {
	width: 100%;
	margin: 0;
	padding: 0;
	display: none;
}
.copyright {
	display: block;
}


/* Page Structure
----------------------------------------------- */

* {
	color: #000 !important;
	background: #fff !important;
	border: none !important;
	position: static !important;
}
body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;
}

/* Headings
----------------------------------------------- */

h1, h2, h3 {
	margin: 1em 0 0.5em;
	font-weight: normal;
	clear: both;
}
h1 {
	margin-top: 0.5em;
	font-size: 180%;
}
h2 {
	font-size: 160%;
}

/* Links
----------------------------------------------- */

a {
	color: #999;
	text-decoration: underline;
}
a img {
	border:0;
}

/* Text mit Bild
----------------------------------------------- */

.imgleft {
	float: left;
	margin: 0 15px 0 0;
}
.imgright {
	float: right;
	margin: 0 0 0 15px;
}

/* Misc
----------------------------------------------- */

p {
	margin: 0;
	padding: 0;
}
table p, dl ul, dl p, dl dl {
	font-size: 100%;
}
ul, dl {
	margin-top: 0;
	margin-bottom: 0.75em;
}
hr {
	background: gray;
	display: block;
	border-width: 0;
	height: 0.25pt;
}
blockquote {
	margin: 0 0 0 20px;
	padding: 0;
}